.MonTableau {
  width: 100%;
  border-collapse: collapse;
  border-top: 4px solid #808080;
  border-bottom: 4px solid #808080;
  text-align:center;
}

tr.index {
	background-color: #C4C4C4;
}

.MonTableau th, .MonTableau td {
  border-bottom: 1px solid #808080;
  border-right: 1px solid grey;
}

tr.light:hover {
	background-color: #EBC2AA;
}

.content {
	padding-left: 5%;	
}

.form-center {
	margin-left:5%;
}

.btn-couleur {
	color:#000000;
}

.btn-perso:hover {
	background-color:#022452;
	color:white;
}